<div class="carousel ">
    <div class="carousel__control">
    </div>
    <div class="carousel__stage">
        <div class="spinner spinner--left">
            <div class="spinner__face js-active" data-bg="#27323c">
                <div class="content" data-type="iceland">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Murale</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>La climatisation mono-split est un système de refroidissement et de chauffage efficace pour une seule pièce, avec une unité intérieure et extérieure. Économique et simple à entretenir, elle assure un climat optimal.</p>
                          <%# <p>Le climatiseur mono-split mural est actuellement le modèle le plus largement adopté. Son installation et son entretien sont simples, et ses avantages sont bien établis. Les climatiseurs mono-splits de la catégorie murale sont également dotés de la fonction "réversible".</p> %>
                        </div>
                        <h3 class="content__index">01</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#19304a">
                <div class="content" data-type="china">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Cassette</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>La climatisation cassette est un système discret et efficace conçu pour réguler la température des grands espaces intérieurs. Installée encastrée dans le faux plafond, elle assure une répartition uniforme de l'air, idéale pour les environnements professionnels de grande taille, tels que les centres commerciaux, les magasins et les espaces de bureau.</p>
                            <%# <p>Les climatiseurs cassettes sont conçus principalement pour les espaces spacieux, évitant ainsi la nécessité de multiplier les unités intérieures afin de climatiser une grande pièce. Ils sont particulièrement prisés pour réguler la température des zones de grande envergure, et on les retrouve fréquemment dans les centres commerciaux, les magasins de grande taille, ainsi que les bureaux.</p> %>
                        </div>
                        <h3 class="content__index">02</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#2b2533">
                <div class="content" data-type="usa">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Gainable</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>La climatisation gainable est un système de climatisation de pointe conçu pour offrir un confort thermique supérieur tout en conservant l'esthétique de votre espace. Avec une installation discrète et une régulation précise de la température, la climatisation gainable s'impose comme un choix judicieux pour maintenir des températures agréables dans votre maison ou bureau, quelles que soient les conditions extérieures.</p>
                          <%# <p>La climatisation gainable, une variante intelligente du système de climatisation split, se caractérise par l'intégration discrète de l'unité intérieure dans un faux-plafond, connectée à un réseau de gaines pour la distribution d'air. Ce type de climatiseur s'adapte harmonieusement à la décoration intérieure et représente une solution idéale pour les environnements résidentiels et les espaces de bureau. De plus, il se distingue par sa performance silencieuse, ne générant aucune émission sonore gênante.</p> %>
                          <%# <p>La climatisation gainable est une variante du système de climatisation split, où l'unité intérieure est discrètement encastrée dans un faux-plafond, reliée à un réseau de gaines pour la distribution d'air. Ce type de climatiseur s'adapte harmonieusement à la décoration intérieure et est idéal pour une utilisation résidentielle ou dans des espaces de bureau. De plus, il se distingue par son silence, ne produisant aucune émission sonore.</p> %>
                        </div>
                        <h3 class="content__index">03</h3>
                    </div>
                </div>
            </div>
            <div class="spinner__face" data-bg="#312f2d">
                <div class="content" data-type="peru">
                    <div class="content__left">
                        <h1>Climatisation<br><span>Console</span></h1>
                    </div>
                    <div class="content__right">
                        <div class="content__main">
                          <p>La climatisation console est un système discret installé au bas d'un mur, sous une fenêtre. Convient aux rénovations et projets intérieurs sans nécessiter de modifications majeures. Son installation est simple, et elle offre une distribution uniforme de l'air climatisé, idéale lorsque d'autres options de climatisation ne sont pas envisageables. De plus, son entretien est facile. </p>
                          <%# <p>Le climatiseur console est de plus en plus populaire parmi ceux qui envisagent une rénovation intérieure. Positionnée au bas d'un mur de la pièce que vous souhaitez chauffer ou rafraîchir, l'unité intérieure d'un système de climatisation console est non seulement simple à installer, mais aussi facile à entretenir. Vous pourrez aisément installer un climatiseur console sous une fenêtre, par exemple.</p> %>
                        </div>
                        <h3 class="content__index">04</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Poor man's preloader -->
<div style="height: 0; width: 0; overflow: hidden">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/canada.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/china.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/iceland.jpg">
</div>
