<div class="ag-timeline-block">
  <div class="ag-timeline_title-box">
    <div class="ag-timeline_tagline">L'entretien d'un système de climatisation
      <p>_______</p>
    </div>
    <div class="ag-timeline_title"></div>
  </div>
  <section class="ag-section">
    <div class="ag-format-container">
      <div class="js-timeline ag-timeline">
        <div class="js-timeline_line ag-timeline_line">
          <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
        </div>
        <div class="ag-timeline_list">
          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">1</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Vérification de l'étanchéité</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <!-- Votre image ici -->
                  <%= image_tag("test-fluide-transformed.jpeg",class:"ag-timeline-card_img", size: "640x360", alt: "test fluide étanchéité") %>
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Vérification de l'étanchéité</div>
                  <div class="ag-timeline-card_desc">
                    Nous préconisons des contrôles d'étanchéité réguliers pour votre système de climatisation, afin d'assurer une performance optimale de votre climatisation tout en préservant l'environnement. Cette démarche requiert l'utilisation d'un détecteur de fuite pour scruter minutieusement les raccords de l'installation ainsi que tous les points vulnérables susceptibles de causer des fuites, et recharge le fluide frigorigène si besoin.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Contrôle des filtres</div>
              </div>
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">2</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <!-- Votre image ici -->
                  <%= image_tag("filtre-climatisation-transformed.jpeg",class:"ag-timeline-card_img", size: "640x360", alt: "filtre climatisation") %>
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Contrôle des filtres</div>
                  <div class="ag-timeline-card_desc">
                    <!-- Votre description ici -->
                    Les filtres jouent un rôle essentiel dans le maintien de la propreté de votre climatisation. Ils agissent comme une barrière efficace contre les impuretés présentes dans l'air, préservant ainsi le bon fonctionnement de votre système. Lorsqu'un filtre est bouché, il entraîne des variations de température dans l'espace climatisé, affaiblit la puissance de l'air sortant du système et altére la qualité de l’air de votre habitation.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>

          <div class="js-timeline_item ag-timeline_item">
            <div class="ag-timeline-card_box">
              <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                <div class="ag-timeline-card_point">3</div>
              </div>
              <div class="ag-timeline-card_meta-box">
                <div class="ag-timeline-card_meta">Vérification climatiseur</div>
              </div>
            </div>
            <div class="ag-timeline-card_item">
              <div class="ag-timeline-card_inner">
                <div class="ag-timeline-card_img-box">
                  <!-- Votre image ici -->
                  <%= image_tag("verification-clim.jpeg",class:"ag-timeline-card_img", size: "640x360", alt: "vérification climatiseur") %>
                </div>
                <div class="ag-timeline-card_info">
                  <div class="ag-timeline-card_title">Vérification climatiseur</div>
                  <div class="ag-timeline-card_desc">
                    <!-- Votre description ici -->
                    Notre équipe assure une vérification en contrôlant le débit et la température du système pour une performance optimale. Nous effectuons le nettoyage des évaporateurs, vérifions l'évacuation des condensats, contrôlons les pompes de relevage du condensat, ainsi que la vérification et le réglage des circuits de commande, tout en resserrant les connexions électriques. De plus, nous veillons aux organes de sécurité pour votre tranquillité d'esprit.
                  </div>
                </div>
              </div>
              <div class="ag-timeline-card_arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
