<div class="container installation">
    <div class="introduction-section">
        <div class="title-section">
            <h1>Installation de climatisation</h1>
            <p>_______</p>
        </div>
        <div class="text-section">
            <p>DAVID CLIM : Votre Expert en Climatisation à Fréjus, Saint-Raphaël et Environs</p>
            <p>DAVID CLIM se déplace chez vous ou dans votre entreprise pour l'installation de climatisation à Fréjus, Saint-Raphaël, et leurs alentours.</p>
            <p>L'importance d'une climatisation efficace ne peut être sous-estimée lorsqu'il s'agit de créer un environnement intérieur confortable et sain. Nos techniciens qualifiés sont à votre disposition pour vous guider dans le choix du système de climatisation qui répond le mieux à vos besoins.</p>
            <p>Nous garantissons une installation professionnelle, assurant ainsi des performances optimales pour votre équipement, en totale <strong>conformité</strong> avec les <strong>réglementations</strong> en vigueur et vos attentes.</p>
            <%# <p>Vous souhaitez équiper votre logement d’un système de climatisation ? DAVID CLIM intervient chez vous ou dans votre entreprise pour l’installation à Fréjus / Saint-Raphaël & ses alentours.</p> %>
            <%# <p>Une installation de climatisation bien réalisée est essentielle pour garantir le confort, la performance et l'efficacité énergétique de votre système de climatisation. Chez [Nom de votre entreprise], nous comprenons l'importance de cette étape cruciale et nous nous engageons à fournir des services d'installation de la plus haute qualité. Nous travaillons avec les marques les plus réputées de l'industrie pour vous offrir des systèmes de climatisation fiables et durables.</p> %>
            <%# <p>Une installation de climatisation efficace est essentielle pour assurer un climat intérieur agréable et sain. Nos techniciens qualifiés sont là pour vous guider dans le choix du système de climatisation le mieux adapté à vos besoins.</p> %>
            <%# <p>Nous assurons une installation professionnelle, garantissant ainsi une performance optimale de votre équipement, une installation <strong>conforme aux réglementations</strong> et à vos attentes.</p> %>
        </div>
    </div>
</div>

<div class="installation-list">
    <div class="container installation-list-numbers">
        <p>Notre équipe d'experts en climatisation est formée et certifiée pour prendre en charge tous les aspects de l'installation de votre système de climatisation. Nos services comprennent :</p>
            <div class="services-list">
                <ol>
                    <li><div class="text-inlist"><strong>Évaluation personnalisée :</strong> Nous commençons par comprendre vos besoins spécifiques en matière de climatisation, que ce soit pour une résidence, un commerce ou une industrie.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Sélection du système :</strong> En fonction de vos besoins et de votre budget, nous vous aidons à choisir le système de climatisation le mieux adapté à votre espace.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Installation professionnelle :</strong> Nos techniciens chevronnés installent votre système avec précision, en veillant à ce qu'il fonctionne de manière optimale.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Essais et vérifications :</strong> Nous testons rigoureusement votre système pour nous assurer qu'il fonctionne correctement et efficacement.</div></li>
                    <span class="element-divider separator"></span>
                    <li><div class="text-inlist"><strong>Formation et conseils :</strong> Nous vous expliquons le fonctionnement de votre nouveau système de climatisation et vous donnons des conseils pour son entretien afin de maximiser sa durée de vie.</div></li>
                </ol>
            </div>
      </div>
</div>

<div class="container information-choice-text">
    <h1>Souhaitez-vous profiter d'un confort optimal toute l'année, que ce soit pendant les chaleurs estivales ou les rigueurs de l'hiver ?</h1>
    <p>La climatisation moderne : confort, économies d'énergie et réduction de l'empreinte carbone</p>
    <p>Transformez votre rêve d'un espace parfaitement tempéré en réalité grâce à l'installation d'un système de climatisation dernier cri. Notre équipe dédiée est à vos côtés pour vous aider à créer un environnement idéal tout en optimisant vos économies d'énergie.</p>
    <p>Aujourd'hui, les systèmes de climatisation sont plus efficaces que jamais, garantissant un confort inégalé tout en minimisant votre impact environnemental. Grâce à des technologies de pointe, vous pouvez avoir un contrôle précis de la température de votre espace, offrant une atmosphère agréable à chaque saison.</p>
    <p>Permettez-nous de vous guider dans le choix du système de climatisation le mieux adapté à votre domicile ou à votre entreprise.</p>
    <%# <h1>Vous rêvez de vivre dans un espace confortable toute l'année, qu'il fasse chaud en été ou froid en hiver ?</h1> %>
    <%# <p>L'installation d'un système de climatisation moderne peut transformer cette vision en réalité. Notre équipe est là pour vous aider à créer un environnement parfaitement tempéré, tout en vous permettant de réaliser des économies d'énergie.</p> %>
    <%# <p>La climatisation d'aujourd'hui est plus efficace que jamais, offrant un confort inégalé tout en minimisant votre empreinte carbone. Grâce à des technologies avancées, vous pouvez contrôler la température de votre espace avec précision, assurant ainsi une atmosphère agréable en toute saison.</p> %>
    <%# <p>Laissez-nous vous guider dans le choix du système de climatisation qui convient le mieux à votre domicile ou à votre entreprise.</p> %>
</div>

<div class="container choice-list">
  <div class="introduction-choice">
    <div class="choice-list-title">
        <h2>Diverses options de climatisation sont disponibles</h2>
        <p>_______</p>
    </div>
    <div class="choice-list-ul">
        <div class="choice-list-1">
            <ul>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Murale</li>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Cassette</li>
            </ul>
        </div>
        <div class="choice-list-2">
            <ul>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Gainable</li>
                <li><i class="fa-solid fa-angles-down"></i>Climatiseur Console</li>
            </ul>
        </div>
    </div>
  </div>
</div>

<%= render 'shared/carousel' %>
<%= render 'shared/btn_footer_contact' %>
<%= render "shared/partners" %>
