<div class="maintenance-banner">
    <div class="container " >
        <div class="introduction-installation">
            <div class="title-installation">
                <h1>Maintenance & Nettoyage</h1>
                <p>_______</p>
                <h1>David Clim : L'entretien idéal pour votre climatiseur</h1>
            </div>
            <div class="text-installation">
                <%# <p>Pour maintenir votre climatisation en parfait état de fonctionnement, une maintenance régulière est essentiel pour prolonger sa durée de vie, améliorer son efficacité énergétique et garantir un air intérieur de qualité.</p> %>
                <%# <p>Faire entretenir sa climatisation par un <strong>professionnel</strong> est conseillé <strong>une fois par an</strong>. </p> %>
                <%# <p>David Clim propose des services d'entretien pour les climatiseurs résidentiels et locaux professionnels situés à Fréjus / Saint-Raphaël et ses alentours.</p> %>
                <%# <p>Nos techniciens effectuent des inspections et des ajustements pour garantir que votre système fonctionne de manière efficace, vous évitez également les risques de <strong>surconsommation d’électricité</strong> et <strong>d’éventuelles pannes</strong>. Profitez dès maintenant de nos <strong>contrats d’entretien</strong>.</p> %>
                <p>Pour maintenir votre climatisation en excellent état de fonctionnement, il est essentiel d'effectuer une maintenance régulière. Cela vous permettra de prolonger la durée de vie de votre système, d'améliorer son efficacité énergétique et de garantir une qualité d'air intérieur optimale.</p>
                <p>Il est vivement recommandé de faire entretenir votre climatisation par un <strong>professionnel</strong> au moins <strong>une fois par an</strong>.</p>
                <p>À Fréjus / Saint-Raphaël et dans les environs, David Clim propose des services d'entretien pour les climatiseurs résidentiels et les locaux professionnels. Nos techniciens effectuent des inspections approfondies et des ajustements pour assurer le bon fonctionnement de votre système. <br>Cela vous permettra non seulement d'éviter une <strong>surconsommation d'électricité</strong>, mais aussi de réduire les risques de <strong>pannes imprévues</strong>. Découvrez dès maintenant nos <strong>contrats d'entretien</strong> conçus pour répondre à vos besoins.</p>
            </div>
        </div>
    </div>
</div>


<div class="nettoyage">
    <%= render 'shared/jet_timeline_list' %>
</div>
<%# <p>Pourquoi faire entretenir votre climatisation?</p>
<p>l'entretien régulier de votre climatisation est essentiel pour maximiser son efficacité énergétique, prolonger sa durée de vie, maintenir la qualité de l'air intérieur, assurer votre confort et éviter des dépenses inutiles en réparations. Il est recommandé de faire appel à un professionnel qualifié pour effectuer l'entretien de votre climatisation conformément aux recommandations du fabricant.</p>
<p>L'entretien régulier de votre climatiseur présente de nombreux avantages. Tout d'abord, il garantit un fonctionnement optimal de votre appareil, ce qui se traduit par une performance accrue et une efficacité énergétique améliorée. Cela signifie que votre climatiseur refroidira plus rapidement et consommera moins d'énergie, ce qui se traduira par des factures d'électricité plus faibles.</p>
<p>De plus, l'entretien préventif de votre climatiseur permet de prolonger sa durée de vie. En identifiant et en corrigeant les problèmes potentiels avant qu'ils ne deviennent graves, vous éviterez des réparations coûteuses et prolongerez la vie de votre climatiseur.</p> %>
<div class="cleaning-box">
    <div class="cleaning-section">
                <%# <%= image_tag "nettoyage-clim-haute-pression.jpeg" %>
        <div class="container " >
            <div class="introduction-cleaning">
                <div class="text-cleaning">
                    <h1>Nettoyage haute pression</h1>
                    <span>_______</span>
                    <%# <h1>Entretenir votre climatiseur par David Clim</h1> %>
                <%# </div>
                <div class="text-cleaning"> %>
                    <p>Optimisez la performance de votre climatisation grâce à notre service de nettoyage haute pression. Notre équipe élimine efficacement les impuretés, garantissant un air frais et sain. <strong>Améliorez l'efficacité énergétique</strong> de votre système, prolongez sa <strong>durée de vie</strong> et respirez un air plus pur. Profitez d'un climat intérieur optimal avec notre service de nettoyage haute pression climatisation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/btn_footer_contact' %>
