<div class="banner-realisation">
  <div class="container">
    <h3>DAVID CLIM</h3>
    <h1>NOS RÉALISATIONS</h1>
  </div>
</div>

<%= render 'shared/card_realisation' %>
<%= render 'shared/btn_footer_contact' %>
