* {
  outline: none;
  font-family: Montserrat;
  // font-family: Poppins, sans-serif;
  // scroll-behavior: auto;
  // overflow-anchor: none !important;
}

html {
  scroll-behavior: auto;
}

body{
  background-color: rgba(250, 250, 250, 0.9);
}
