//=====================================================//
//==================== phone style ====================//
//=====================================================//

@media screen and (min-width: 350px){
  .card-homepage{
    margin-top: 35px;
    // box-shadow: 0 0 15px rgba(211, 209, 209, 0.82);
  }

  .box_one{
    display: grid;
    grid-template-columns: 1fr;
  }

  .card_one{
    background-image: url(blue-gradient.gif);
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction:column;
    margin: auto;
    padding: 0 12px;
  }

  .card_one h3{
    padding-top: 12px;
  }

  .card_one p{
    color: white;
  }

  .card_three img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .card_four{
    background-image: url(blue-gradient.gif);
    height: 524px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction:column;
    margin: auto;
    padding: 0 12px;
  }

  .card_four h3{
    padding-top: 12px;
  }

  .card_four p{
    color: white;
  }

  .card_four h4{

    font-weight: bold;
    font-size: 40px;
    color: rgba( 102, 102, 102, 100%);
  }
}


//=====================================================//
//=================== tablet style ===================//
//=====================================================//

@media screen and (min-width: 750px) {
  .card-homepage{
    margin: 0;
  }

  .box_one{
  grid-template-columns: 1fr 1fr;
  }

  .card_one{
    font-size: 0.75rem;
    height: 350px;
  }

  .card_one .img-homepage{
    padding-bottom: 38px;
  }

  .card_one h4{
    font-size: 40px;
  }

  .card_two img , .card_three img {
    height: 350px;
    width: 100%;
  }

  .card_four{
    height: 350px;
    font-size: 0.75rem;
  }

  .card_four .img-homepage{
    padding-bottom: 38px;
  }
}

//=====================================================//
//=================== desktop style ===================//
//=====================================================//

@media screen and (min-width: 1200px) {
  .card-homepage{
    // margin: 35px 0 0 35px;
  }

  .box_one{
  grid-template-columns: 1fr 1fr;
  }

  .card_one{
    padding: 0 80px;
    height: 450px;
    font-size: 1rem;
  }

  .card_one h4{
    font-size: 40px;
  }

  .card_two img , .card_three img{
    height: 450px;
    width: 100%;
  }

  .card_four{
    height: 450px;
    padding: 0 80px;
    font-size: 1rem;
  }

  .card_four h4{
    font-size: 40px;
  }
}
